<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.FeeApplyInfoMapper">
    
    <resultMap type="FeeApplyInfo" id="FeeApplyInfoResult">
        <result property="id"    column="id"    />
        <result property="djNumber"    column="dj_number"    />
        <result property="djTime"    column="dj_time"    />
        <result property="status"    column="status"    />
        <result property="djType"    column="dj_type"    />
        <result property="flowNo"    column="flow_no"    />
        <result property="nodeNo"    column="node_no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="isSp"    column="is_sp"    />
        <result property="applyContent"    column="apply_content"    />
        <result property="statusName"    column="status_name"    />

    </resultMap>

    <sql id="selectFeeApplyInfoVo">
        select * from fee_apply_info
    </sql>

    <sql id="selectFeeApplyInfoVoByRole">
        select a.*,case a.status when -1 then '被退回' when 0 then '正操作' when 1 then '待审核' when 2 then '已生效' end as status_name from fee_apply_info a
        join sys_user u on a.create_by=u.user_name
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectFeeApplyInfoList" parameterType="FeeApplyInfo" resultMap="FeeApplyInfoResult">
        <include refid="selectFeeApplyInfoVoByRole"/>
        <where>  
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="djTime != null  and djTime != ''"> and dj_time = #{djTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="djType != null "> and dj_type = #{djType}</if>
            <if test="flowNo != null  and flowNo != ''"> and flow_no = #{flowNo}</if>
            <if test="nodeNo != null "> and node_no = #{nodeNo}</if>
            <if test="isSp != null "> and is_sp = #{isSp}</if>
            <if test="applyContent != null  and applyContent != ''"> and apply_content = #{applyContent}</if>
            ${dataScope}
        </where>
        order by a.create_time desc
    </select>

    <select id="selectFeeApplyInfoShList" parameterType="FeeApplyInfo" resultMap="FeeApplyInfoResult">
        select a.*,case a.status when -1 then '被退回' when 0 then '正操作' when 1 then '待审核' when 2 then '已生效' end as status_name from fee_apply_info a
        join flow_audit b on a.dj_number=b.dj_id and b.flow_status=0
        <if test="type==0">
            and a.node_no=b.node_no
            and a.status=1
            and b.status=0
        </if>
        <if test="type==1">
            and b.status=1
        </if>
        <where>
            and (b.pr_id=#{userId} or b.pr_id=#{roleId})
            <if test="djNumber != null  and djNumber != ''"> and dj_number = #{djNumber}</if>
            <if test="djTime != null  and djTime != ''"> and dj_time = #{djTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by a.create_time desc
    </select>


    <update id="updatetFeeApplyInfoStatusOrNodeNo">
        update fee_apply_info
        <if test="type==0">
            set node_no = #{status}
        </if>
        <if test="type==1">
            set status=#{status}
        </if>
        where dj_number = #{djNumber}
    </update>
    
    <select id="selectFeeApplyInfoById" parameterType="Integer" resultMap="FeeApplyInfoResult">
        <include refid="selectFeeApplyInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFeeApplyInfo" parameterType="FeeApplyInfo">
        insert into fee_apply_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="djNumber != null  and djNumber != ''">dj_number,</if>
            <if test="djTime != null  and djTime != ''">dj_time,</if>
            <if test="status != null ">status,</if>
            <if test="djType != null ">dj_type,</if>
            <if test="flowNo != null  and flowNo != ''">flow_no,</if>
            <if test="nodeNo != null ">node_no,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="isSp != null ">is_sp,</if>
            <if test="applyContent != null  and applyContent != ''">apply_content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="djNumber != null  and djNumber != ''">#{djNumber},</if>
            <if test="djTime != null  and djTime != ''">#{djTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="djType != null ">#{djType},</if>
            <if test="flowNo != null  and flowNo != ''">#{flowNo},</if>
            <if test="nodeNo != null ">#{nodeNo},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="isSp != null ">#{isSp},</if>
            <if test="applyContent != null  and applyContent != ''">#{applyContent},</if>
         </trim>
    </insert>

    <update id="updateFeeApplyInfo" parameterType="FeeApplyInfo">
        update fee_apply_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="djNumber != null  and djNumber != ''">dj_number = #{djNumber},</if>
            <if test="djTime != null  and djTime != ''">dj_time = #{djTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="djType != null ">dj_type = #{djType},</if>
            <if test="flowNo != null  and flowNo != ''">flow_no = #{flowNo},</if>
            <if test="nodeNo != null ">node_no = #{nodeNo},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="isSp != null ">is_sp = #{isSp},</if>
            <if test="applyContent != null  and applyContent != ''">apply_content = #{applyContent},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFeeApplyInfoById" parameterType="Integer">
        delete from fee_apply_info where id = #{id}
    </delete>

    <delete id="deleteFeeApplyInfoByIds" parameterType="String">
        delete from fee_apply_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>